.pills_list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pills_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pills_list li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  padding-left: 1rem;
  border-radius: 3px;
  margin: 0rem 0.9rem 0.6rem 0;
}

.pills_button {
  border-left: 1px solid #aaa;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 5;
}

.pills_button span {
  margin-top: -1px;
}

.pills_link {
  font-size: 1.3rem;
  /*font-weight: 200;*/
  padding: 0.4rem 0;
}
