.modal_search-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.modal_search-container .form-group {
  width: 100%;
  margin-right: 2rem;
  /* margin-bottom: 0;*/
}

.modal_search-container .form-group input {
  margin-bottom: 0;
}

.modal_footer-container {
  position: absolute;
  bottom: 0;
}

.modal-backdrop__color {
  background-color: #222 !important;
  opacity: 1 !important;
}
