@media screen and (min-width: 0px) and (max-width: 587px) {
  .container-fluid {
    padding: 0px !important;
  }
}

.floatRight {
  float: right;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.card-header-cta {
  float: right;
}

/*** FORMS ***/

.form-group input {
  height: 2.5rem;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.form-group textarea {
  border-radius: 2px;
  /*font-size: 1.6rem !important;*/
  font-weight: 300;
  min-height: 8rem;
  max-width: 100% !important;
}

.margin-top-2 {
  margin-top: 1.25rem;
}

/*** IMAGES ***/

.profileImage {
  max-height: 12.5rem;
  max-width: 12.5rem;
  margin-bottom: 10rem;
  border-radius: 3px;
  float: left;
}

.table_img img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2px;
}

.table_img-null {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table_img-null span {
  font-weight: 100;
  font-size: 2rem;
}

/*** ELEMENTS ***/
iframe {
  border: none;
  width: 100%;
  height: calc(100vh - 195px);
}

/*** PRIMARY NAVIGATION ***/
.navbar-inverse {
  margin-bottom: 1.25rem !important;
}

.navbar-toggler {
  border-radius: 0;
}

.nav-item {
  color: #20a8d8;
}

.nav-item:hover {
  cursor: pointer;
  color: #1b8eb7;
}

/* COMPONENT FOOTER BUTTONS */

.form_button-row {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.form_button-row button {
  margin-left: 2rem;
}

.button_footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.button_footer-container button {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.button_footer-container button:first-child {
  margin-left: 0;
}

/* BUTTONS */

.btn {
  border-radius: 2px;
}

.button-lg {
  min-width: 11rem;
  /*border-radius: 100%;*/
}

.button-sm {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

/*button span {
  font-size: 1.4rem;
}*/

.button_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
}

.button_inner-text {
  /*  font-size: 1.4rem;*/
  margin-right: 1rem;
}

.button_width {
  width: 14.5rem;
}

/* SECONDARY HEADER */

.header_secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6rem;
  background-color: #ddd;
  padding: 1rem;
}

.header_3 {
  font-size: 2.4rem;
  font-weight: 200;
}

