*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px but bad practice to use px
  default browser font size is 16px
  useing would break user font-sizes (accessibility)
  100% is 16px
  to covert, we calculate 10/16 = 62.5%
 */
}

body {
  box-sizing: border-box;
  /*font-family: sans-serif;*/
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #444;
  overflow-y: scroll;
  /*padding: 1rem;*/
}

.background {
  margin-top: -20px;
  height: calc(100vh - 52px);
  background-image: url("./images/mountain.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/*** FORMS ***/

.formGroup input {
  height: 40px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 200;
}

/*** BUTTONS ***/

.submitButton {
  width: 100%;
  margin-bottom: 15px;
  height: 45px;
  border-radius: 1px;
}

/*** HEADER ***/

/*.header_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
}

h1.header_text {
  margin-top: 0px;
}

.header_text {
  font-weight: 200;
  margin-bottom: 10px;
  word-wrap: break-word;
}*/

/*** FORMATTING ***/

.marginTop20 {
  margin-top: 2rem;
}

/*** IMAGES ***/

.profileImage {
  max-height: 125px;
  max-width: 125px;
  margin-bottom: 10px;
  border-radius: 3px;
  float: left;
}

/*** TABLES ***/

.table_img-sm img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2px;
}

.table_img-null-sm {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table_img-null-sm span {
  font-weight: 100;
  font-size: 1.5rem;
}

tbody {
  text-align: left;
}

/***********/

.table_img img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 2px;
}

.table_img-null {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 2px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table_img-null span {
  font-weight: 100;
  font-size: 2rem;
}

/***********/

.tableImg img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 2px;
}

.tableImgNull {
  width: 42px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tableImgNull span {
  font-weight: 100;
  font-size: 20px;
}

/*** ELEMENTS ***/
iframe {
  border: none;
  width: 100%;
  height: calc(100vh - 195px);
}

/*** NAVIGATION ***/

.secondary_nav-container {
  margin: 0 0 1.5rem 0;
}

/*** HEADER ***/

.header_button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border-left: 1px solid lightgrey;*/
  padding-left: 1.5rem;
}

.header_button-lg {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.header_button-sm {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_button-sm span {
  margin-top: -1px;
  margin-left: 0px;
}

.header_button-lg span {
  margin-left: 1px;
}

.form_button-row {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form_button-row button {
  margin-left: 2rem;
}

/**/
