*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px but bad practice to use px
  default browser font size is 16px
  useing would break user font-sizes (accessibility)
  100% is 16px
  to covert, we calculate 10/16 = 62.5%
 */
}

body {
  box-sizing: border-box;
  /*font-family: sans-serif;*/
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #444;
  padding: 1rem;
}

.background {
  margin-top: -20px;
  height: calc(100vh - 72px);
  background-image: url("./images/mountain.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.formGroup input {
  height: 40px;
  border-radius: 1px;
  /*  border: none;
  box-shadow: none;
  padding-left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -8px;
  margin-bottom: 5px;*/
  font-size: 16px;
  font-weight: 200;
}

.submitButton {
  width: 100%;
  margin-bottom: 15px;
  height: 45px;
  border-radius: 1px;
}

.headerText {
  font-weight: 200;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.profileImage {
  max-height: 125px;
  max-width: 125px;
  margin-bottom: 10px;
  border-radius: 3px;
  float: left;
}
