node_modules
dev.js
client/.env.dev
client/.env.prod
client/.env.test
.env
dump.rdb
Dockerfile

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
