.groupStyle {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.groupStyle li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  margin: 0.4rem 1rem 0.4rem 0;
}

.groupDelete {
  position: absolute;
  border: 1px dotted lightgrey;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  z-index: 5;
  top: 0px;
  right: 0px;
  margin-top: -5px;
  margin-right: -5px;
}
