.LoadingContainer {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ReactLoading_Icon {
  margin-top: 0px;
  width: 6rem;
  height: 6rem;
}
