.NavContainer {
  margin-left: 0px;
  border-radius: 0px;
}

.menuItem a {
  background-color: transparent !important;
  outline: none !important;
  font-weight: 400;
}

.navProfilePic {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.navContainerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a.navbar-brand {
  font-weight: 400;
}
