.groupStyle {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.groupStyle li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  padding: 2px 5px;
  margin: 4px 5px 4px 0;
}
