.profilePic {
  display: flex;
  margin: 20px 0px;
}

.logoutBtn {
  height: 45px;
  width: 175px;
  border-radius: 2px;
}

.logoutBtn span {
  font-weight: 200;
  letter-spacing: 0.125rem;
  margin-right: -0.125rem;
}
