.breadcrumb {
  margin: 0;
  padding-left: 0;
}

.breadcrumb-item:hover {
  cursor: pointer;
}

.breadcrumb li {
  color: #20a8d8;
}

.breadcrumb li:last-child {
  color: #9fa1a3;
  list-style: none;
  cursor: default;
}

