.header-old {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  border-radius: 2px;
}

.header__content {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.header__content h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-weight: 200;
  margin-right: 1rem;
}

.header__content img {
  height: 3rem;
  border-radius: 3px;
  margin-right: 2rem;
}

.header__button-row {
  /*margin-top: 1.4rem;*/
  display: flex;
  flex-wrap: wrap;
}

.header__button-row .btn-toolbar,
.btn-lg {
  margin-left: 0 !important;
  margin-right: 1rem;
  /*margin-bottom: 1rem;*/
}

.header__button-row .btn-toolbar:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.header__button-row .button-lg {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
