.header_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  margin-bottom: 1rem;
  min-height: 6rem;
}

h1.header_text {
  margin-top: 0px;
}

.header_text {
  font-weight: 200;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.header_button-row {
  display: flex;
  flex-direction: row;
}

.header_button-row button {
  margin-left: 1rem;
}
