.header_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /*  border-radius: 2px 2px 0 0;*/
  /*margin-bottom: 2rem;*/
  min-height: 6rem;
  background-color: #222;
  padding: 2rem;
}

h1.header_text {
  margin-top: 0px;
  color: white;
}

.header_text {
  font-weight: 200;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.header_button-row {
  display: flex;
  flex-direction: row;
}

.header_button-row button {
  margin-left: 2rem;
}

.header_image {
  height: 8.5rem;
  border-radius: 3px;
  margin-right: 2rem;
}

.header_container-inner {
  display: flex;
  align-items: center;
}
