.counter_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 3rem;
  background-color: #eee;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.counter_text {
  font-size: 1.3rem;
}
