/*CAROUSEL*/

.dropzone__card-container {
  border: 1px dotted #20a8d8;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.75rem;
}

.dropzone__button {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 100%;
  font-size: 1.75rem;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.carousel__img-card {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  position: relative;
  /* padding: 1rem;*/
  width: 14rem;
  /*height: 14rem;*/
  /* border: 1px dotted #20a8d8;
  border-radius: 3px;
  margin: 0 1rem 2rem;*/
}

.carousel__img-container img {
  border-radius: 3px;
}

.carousel__img-container i {
  position: absolute;
  margin-top: -4px;
  margin-right: -4px;
  background-color: none !important;
  border-radius: 100%;
  z-index: 5;
  top: 0px;
  right: 0px;
  font-size: 1.3rem;
  color: #20a8d8;
}

.carousel__img-container i:hover {
  color: #1b8eb7;
  cursor: pointer;
}
