/*CAROUSEL*/

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted lightgrey;
  border-radius: 2px;
  height: 12rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.dropzone__button {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 100%;
  font-size: 50px;
}

.dropzone__button span {
  font-size: 5rem;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.carousel__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  width: 24rem;
  height: 24rem;
  border: 1px dotted lightgrey;
  border-radius: 3px;
  margin: 0 1rem 2rem;
}

.carousel__img-container img {
  border-radius: 3px;
}

.carousel__img-container button {
  position: absolute;
  display: flex;
  border: 1px dotted lightgrey;
  background-color: white;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  z-index: 5;
  top: 0px;
  right: 0px;
  margin-top: -4px;
  margin-right: -4px;
}

.carousel__img-container span {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: -0.25rem;
  color: lightgrey;
}
