/*Media Queries*/

@media (max-width: 375px) {
  html {
    font-size: 8.8px;
  }
}

.landing-page {
  &__bg-img {
    background-image: url(../../images/mountain.jpg);
    background-position: top;
    background-size: cover;
    height: calc(100vh - 3.45rem);
    /*clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);*/
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.login {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: black;
    height: 36rem;
    width: 24rem;
    padding: 1rem;
    border-radius: 3px;
    overflow: hidden;
    margin-top: -0rem;
  }
  /*Heading*/

  &__text-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*backface-visibility: hidden;*/
  }

  &__heading {
    display: block;
    padding: 0rem;
    font-size: 5rem;
    font-weight: 300;
    margin-top: -4rem;
    letter-spacing: 2.5rem;
    margin-right: -2.5rem;
    animation-name: moveInLeft;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    color: white;
  }

  &__sub-heading {
    display: block;
    font-size: 3.2rem;
    font-weight: 100;
    margin-top: 0rem;
    letter-spacing: 0.5rem;
    margin-right: -0.5rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    color: white;
  }
}

/*Animations*/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  /*80% {
    transform: translateX(5px);
  }*/
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
