@media (max-width: 992px) {
  .groups-container {
    display: none;
  }
}

.hidden {
  display: none;
}

/* Contact Action Buttons */

@media (max-width: 768px) {
  .emailDisplay {
    display: none;
  }
}

@media (max-width: 992px) {
  .dateDisplay {
    display: none;
  }
}

@media (max-width: 425px) {
  .nameDisplay {
    max-width: 130px;
  }
}

.contactButtons {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 1px;
}

.buttonText {
  font-weight: 100;
  font-size: 1.25em;
}

.container {
  height: 100%;
}

.form_border {
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: lightgrey;
}
